.Slider .slider_image img{
    display: block;
    width: 100%;
    // box-sizing: border-box;
}
.carousel-indicators{
    bottom: 40px;
}
.carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}