.item_quangcao{
    background: url(https://s3img.vcdn.vn/123phim/2019/05/e1debd1c9226b687509fa7e465ac1595.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
    font-weight: bold;
    position: relative;
    .quangcao_content{
        position: absolute;
        padding-top: 200px;
        padding-left: 200px;
        justify-content: center;
        text-align: center;
        .app_button{
            padding: 15px 30px;
        }
        a{
            color: white;
            border-bottom: solid 1px white;
            text-decoration: none;
        }
    }
    .app_button{
        box-shadow: none;
    }
}
@media screen and (max-width: 768px){
    .item_quangcao{
        .quangcao_content{
            position: absolute;
            padding-top: 200px;
            padding-left: 44px;
            justify-content: center;
            text-align: center;
        }
    }
}