<div class="container py-2 statusDatve" style="max-width: 940px;">
  <div id="dropdownMenu" class="row">
      <div id="dropdownMenu_item" class="dropdown px-3">
          <div class=" " data-toggle="dropdown">
              <div class="row m-0">
                <span>Phim</span>
                <span><i class="fa fa-angle-down"></i></span>
              </div>
            </div>
            <div id="Phim" class="dropdown-menu btn">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
      </div>
      <div id="dropdownMenu_item" class="dropdown px-3">
          <div class="" data-toggle="dropdown">
            <div class="row m-0">
              <span>Rạp</span>
              <span><i class="fa fa-angle-down"></i></span>
            </div>
            </div>
            <div id="Phim" class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
      </div>
      <div id="dropdownMenu_item" class="dropdown px-3">
          <div class="" data-toggle="dropdown">
            <div class="row m-0">
              <span>Ngày xem</span>
              <span><i class="fa fa-angle-down"></i></span>
            </div>
            </div>
            <div id="Phim" class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
      </div>
      <div id="dropdownMenu_item" class="dropdown px-3" >
          <div class="" data-toggle="dropdown">
            <div class="row m-0">
              <span>Xuất chiếu</span>
              <span><i class="fa fa-angle-down"></i></span>
            </div>
            </div>
            <div id="Phim" class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
      </div>
      <div class="Muave">
        <button class="btn btn-dark" style="    padding: 7px 25px;">MUA VÉ NGAY</button>
      </div>
  </div>
</div>



